/* dark grey = #515465
olive = #857E4A,
light olive = #B5AE8A
v.dark olive = 444732
v light = #D4D2C3
light grey #A5A3A6
E6E5E1*/

@import url("https://fonts.googleapis.com/css?family=Lato|Playfair+Display&display=swap");
body,
html {
  text-align: center;
  background-color: #ffffff;
  box-sizing: border-box;
}

/* Home Page CSS */

.H-title {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: #515465;
}

.H-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 200px;
}

/* Latest news cards */

.l-card {
  width: 300px;
  background-color: #e6e5e1;
  font-family: "Playfair Display", serif;
  transition: all 0.125s;
  transform: scale(1) translateY(0px);
  display: inline-block;
  height: 300px;
  margin-top: calc((100vh - 506px) / 2);
  margin-right: 20px;
  margin-left: 20px;
  top: 50%;
  border: none;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.l-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.l-card-small-title {
  font-size: 15px;
  color: #b5ae8a;
}

.l-card-title {
  padding: 30px;
  vertical-align: middle;
  color: #444732;
  font-size: 17px;
  height: 70px;
}

.l-card-comments {
  font-size: 15px;
  color: #515465;
}

/* Header */

.Header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: "head nav"; */
}

.Header-title {
  font-family: "Playfair Display", serif;
  font-size: 70px;
  color: #444732;
  margin: auto;
  padding: 30px;
  grid-area: head;
  cursor: pointer;
}

/* Nav-bar */

.nav-bar {
  grid-area: nav;
}

.nav-bar button {
  float: right;
}

.nav-bar-btn {
  border: none;
  padding: 5px 5px;
  font-family: "Playfair Display", serif;
  font-size: 17px;
  text-decoration: none;
  color: #515465;
}

.nav-bar-btn:hover {
  color: #b5ae8a;
  font-weight: bold;
}

button:focus {
  outline: 0;
}

/* LoginUser CSS */

.LU-title {
  font-family: "Playfair Display", serif;
  color: #515465;
  font-size: 30px;
}

.LU-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.LU-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  justify-content: center;
}

.LU-img {
  padding-top: 30px;
  border-radius: 30%;
  width: 70px;
  height: 100px;
}

.LU-user {
  border: none;
  text-align: center;
  justify-content: center;
  font-family: "Playfair Display", serif;
  font-size: 14px;
}

/* Article card  */

.article-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-left: 15px;
}

.article-card {
  border: "none";
  background-color: #e6e5e1;
  transition: all 0.125s;
  transform: scale(1) translateY(0px);
  display: inline-block;
  margin-top: calc((100vh - 506px) / 2);
  margin-right: 10px;
  margin-left: 10px;
  top: 50%;
  height: 300px;
  width: 25%;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.article-card-topic {
  float: left;
  padding: 20px;
  font-size: 15px;
  color: #b5ae8a;
}

.article-card-title {
  padding-top: 70px;
  text-align: center;
  height: 70px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  vertical-align: middle;
}
