/* dark grey = #515465
olive = #857E4A,
light olive = #B5AE8A
v.dark olive = 444732
v light = #D4D2C3
light grey #A5A3A6
E6E5E1*/

@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap");

body,
html {
  text-align: center;
  background-color: #ffffff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Home Page CSS */

.H-title {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin: 10px;
  color: #515465;
}

.H-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 200px;
}

/* Latest news cards */

.l-card {
  width: 300px;
  background-color: #e6e5e1;
  font-family: "Playfair Display", serif;
  transition: all 0.125s;
  transform: scale(1) translateY(0px);
  display: inline-block;
  height: 300px;
  margin-top: calc((100vh - 506px) / 2);
  margin-right: 20px;
  margin-left: 20px;
  top: 50%;
  border: none;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.l-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.l-card-small-title {
  font-size: 15px;
  color: #b5ae8a;
}

.l-card-title {
  padding: 30px;
  vertical-align: middle;
  color: #444732;
  font-size: 17px;
  height: 70px;
}

.l-card-comments {
  font-size: 15px;
  color: #515465;
}

/* Header */

.Header {
  display: grid;
  grid-template-rows: 1fr;
}

.Header-logo {
  width: 70px;
  height: 100px;
  padding-top: 20px;
}

.Header-title {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  margin: 15px;
  color: #444732;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-bar-ul {
  width: 100%;
  padding-inline-start: 0;
}

.nav-bar-ul li {
  border: none;
  font-family: "Playfair Display", serif;
  font-size: 17px;
  padding: 10px 10px;
  text-decoration: none;
  list-style-type: none;
  color: #515465;
  display: inline-block;
}

.nav-bar-ul li:hover {
  color: #b5ae8a;
  font-weight: bold;
}

li:focus {
  outline: 0;
}

.nav-user-login {
  color: #444732;
  font-size: 16px;
}

/* LoginUser CSS */

.LU-title {
  font-family: "Playfair Display", serif;
  color: #515465;
  margin: 15px;
  font-size: 30px;
}

.LU-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 200px;
}

.LU-container button {
  border: none;
  text-align: center;
  justify-content: center;
  font-family: "Playfair Display", serif;
  font-size: 14px;
}

.LU-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  justify-content: center;
}

.LU-img {
  padding-top: 20px;
  border-radius: 30%;
  width: 70px;
  height: 100px;
}

.LU-user {
  border: none;
  text-align: center;
  justify-content: center;
  font-family: "Playfair Display", serif;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .LU-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  button {
    background-color: transparent;
  }
}

/* Article card  */

.article-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-inline-start: 0;
}

.articles-title {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin: 15px;
  color: #515465;
}

.article-card {
  border: "none";
  background-color: #e6e5e1;
  transition: all 0.125s;
  transform: scale(1) translateY(0px);
  display: inline-block;
  margin-top: calc((100vh - 506px) / 2);
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 350px;
  width: 300px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.article-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.article-card-topic {
  float: left;
  padding: 20px;
  font-size: 15px;
  color: #b5ae8a;
}

.article-card-title {
  padding-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  height: 70px;
  vertical-align: middle;
  color: #444732;
}

.voting-title {
  font-family: "Playfair Display", serif;
  color: #515465;
}

.votes-btn {
  border: none;
  color: #444732;
  background-color: transparent;
  font-size: 20px;
  outline: none;
}

.votes-btn :active [active] :hover {
  transform: scale(1) translateY(2px);
  color: white;
  background-color: #444732;
}

button[disabled] {
  opacity: 0.5;
  outline: none;
  pointer-events: none;
}

button {
  background-color: transparent;
}

button:hover {
  color: #b5ae8a;
  font-weight: bold;
  outline: none;
}

.article-card-comments {
  font-size: 15px;
  color: #515465;
}

.articles-page-sorting {
  text-align: center;
}

.article-pages {
  outline: none;
  border: none;
  color: #515465;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  margin: 20px;
}

.articles-date {
  font-family: "Playfair Display", serif;
  color: #444732;
}

.article-pages:hover {
  color: #b5ae8a;
}

.articles-sorting {
  font-size: 15px;
  font-family: "Playfair Display", serif;
  color: #444732;
  display: inline-block;
}

@media only screen and (max-width: 300px) {
  select .articles-sorting {
    display: flex;
    flex-direction: column;
  }
}

select {
  color: #515465;
  font-size: 12px;
  width: 100px;
  text-align: center;
  border: none;
  outline: none;
  font-family: "Playfair Display", serif;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
}

select:hover {
  background-color: #b5ae8a;
  color: white;
}

/* Error page */

.errors {
  font-family: "Playfair Display", serif;
  font-size: 25px;
  color: #444732;
}

/* Article-page */

.indi-articles {
  font-family: "Playfair Display", serif;
  margin: 0 auto;
  padding: 0 100px;
}

.article-page-title {
  font-size: 25px;
  color: #444732;
}

.article-page-body {
  font-size: 15px;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.article-page-author {
  font-size: 15px;
  color: #515465;
  font-weight: bold;
}

.article-page-author:hover {
  color: #444732;
}

.new-comment-form {
  justify-content: center;
  text-align: center;
}

.comment-label {
  color: #515465;
}

.comment-title {
  font-size: 20px;
  color: #444732;
  display: block;
}

.comment-textarea {
  width: 50%;
  height: 50px;
  display: block;
  justify-content: center;
  resize: none;
  margin-left: auto;
  margin-right: auto;
  border: none;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.comment-btn {
  font-size: 15px;
}

.comment-page-wrapper {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  background-color: #e6e5e1;
  transition: all 0.125s;
  transform: scale(1) translateY(0px);
  margin-top: calc((100vh - 506px) / 2);
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  justify-content: center;
  text-align: center;
}

.all-comments {
  border-bottom: 1px solid #444732;
}

.all-comment-body {
  color: #515465;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
}

.all-comment-author {
  color: #444732;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .indi-articles {
    padding: 0 20px;
  }

  .article-page-body {
    text-align: justify;
  }

  .comment-textarea {
    width: 75%;

  }

  .comment-page-wrapper {
    z-index: -1;
  }
}

/* Topic */

.topic-title {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin: 15px;
  color: #515465;
}

ul {
  padding-inline-start: 0;
}

.topic-list {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-inline-start: 0;
  padding-bottom: 100px;
}

.topic-list-items {
  border: "none";
  background-color: #e6e5e1;
  transition: all 0.125s;
  transform: scale(1) translateY(0px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc((100vh - 506px) / 2);
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 200px;
  width: 250px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.topic-list-items:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.topic-list-items li {
  font-size: 20px;
  font-family: "Playfair Display", serif;
  color: #444732;
}

/* footer */

.footer {
  padding: 50px 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.footer-icons {
  display: inline-block;
}

.icon {
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
}