/* dark grey = #515465
olive = #857E4A,
light olive = #B5AE8A
v.dark olive = 444732
v light = #D4D2C3
light grey #A5A3A6*/

@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
body,
html {
  text-align: center;
  background-color: #ffffff;
}

/* Home Page CSS */

.H-title {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: #515465;
}

.H-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 200px;
}

/* Latest news cards */

.l-card {
  width: 300px;
  font-family: "Playfair Display", serif;
  transition: all 0.125s;
  transform: scale(1) translateY(0px);
  display: inline-block;
  height: 300px;
  margin-top: calc((100vh - 506px) / 2);
  margin-right: 20px;
  margin-left: 20px;
  top: 50%;
  border: none;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.l-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.l-card-small-title {
  font-size: 10px;
  color: #a5a3a6;
}

.l-card-title {
  padding: 30px;
  vertical-align: middle;
  color: #857e4a;
  font-size: 17px;
  height: 70px;
}

.l-card-comments {
  font-size: 15px;
  color: #515465;
}

/* Header */

.Header {
  display: grid;
}

.Header-title {
  font-family: "Playfair Display", serif;
  font-size: 70px;
  color: #515465;
  flex: 1 0 auto;
}

.Header-btn {
  border: none;
  width: 100px;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
}

/* Nav-bar */

.nav-bar {
}

/* LoginUser CSS */

.LU-title {
  font-family: "Playfair Display", serif;
  color: #515465;
  font-size: 30px;
}

.LU-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.LU-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  justify-content: center;
}

.LU-img {
  padding-top: 30px;
  border-radius: 30%;
  width: 70px;
  height: 100px;
}

.LU-user {
  border: none;
  text-align: center;
  justify-content: center;
  font-family: "Playfair Display", serif;
  font-size: 14px;
}

/* button {
  border: none;
  padding: 10px 10px;
  width: 100px;
  font-family: "Oswald", sans-serif;
  color: #da4371;
  background-color: #f7c9ce;
  font-size: 15px;
  text-decoration: none;
  color: inherit;
}

button:hover {
  background-color: #da4371;
  color: white;
}

.articleCard-title {
  font-family: "Lobster", cursive;
  font-size: 50px;
  color: #0a467a;
} */

.nav-bar {
  color: #da4371;
}

.topic-title {
  font-family: "Lobster", cursive;
  font-size: 50px;
  color: #0a467a;
}

.topic-list {
  color: inherit;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}
